<mat-toolbar color="primary">
    <span>Courses</span>
    <span class="spacer"></span>
    <nav>
      <ul class="nav-list">
        <li>
          <a mat-button routerLink="/">Home</a>
        </li>
        <li>
          <a mat-button routerLink="/courses">All Courses</a>
        </li>
        <li>
          <a mat-button routerLink="/myCourses">My Courses</a>
        </li>
        <li>
          <a mat-button routerLink="/coursesManagement">Courses Management</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
  
  <router-outlet></router-outlet>