@for(c of courses;track c.id){
<app-course-with-lessons [course]="c" [changing]="true"></app-course-with-lessons>
<button (click)="editCourse(c.id,c)">edit</button>
<button (click)="deleteCourse(c.id)">delete</button>
}@empty {
<small>There are no courses.</small>
}

<p>
    <span>Title : </span>
    <input name="title" [(ngModel)]="newCourse.title" (change)="onChangeCourse('title',title.value)" #title="ngModel" />

    <span>Description: </span>
    <input name="desc" [(ngModel)]="newCourse.description" (change)="onChangeCourse('desc',desc.value)"
        #desc="ngModel" />

    <span>TeacherId :</span>
    <input name="tId" [(ngModel)]="newCourse.teacherId" (change)="onChangeCourse('teacherId',tId.value)"
        #tId="ngModel" />
</p>
<button (click)="addCourse(newCourse)">add course</button>

<p>
    <span>Title : </span>
    <input name="title" [(ngModel)]="newLesson.Title" (change)="onChangeLesson('title',title.value)" #title="ngModel" />

    <span>Content : </span>
    <input name="content" [(ngModel)]="newLesson.Content" (change)="onChangeLesson('content',content.value)" #content="ngModel" />

    <span>CourseId :</span>
    <input name="cId" [(ngModel)]="newLesson.CourseId" (change)="onChangeLesson('courseId',cId.value)" #cId="ngModel" />
</p>
<button (click)="addLesson()">add lesson</button>